div {
    width: 30%;
    height: 100%;
}

.body {
    display: flex;
    width: 100%;
    /*align-items: stretch;*/
    justify-content: space-evenly;

    height: 600px;
}

header {
    height: 200px;
    width: auto;
}

img {
    height: 100%;
    width: 100%;
    /*object-fit: contain;*/
}